body {
  color: yellow;
  background-color: #5792CC;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h3 {
  color: yellow;
  font-family: Arial;
  text-align: center;
  line-height: 70px;
  font-style: normal;
}

audio, video, img {
  width: 100%;
}

p {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 5px;
}

center {
  padding: 15px;
}

.btn {
  margin: 5px;
}

.btn-large {
  margin: 5px;
}

a.button {
  text-decoration: none;
  color: inherit;
  padding: 20px 20px 20px 20px;
}

.radio-buttons {
  padding: 5px 0;
}

input[type="radio"]:checked+label {
  color: yellow;
}

input[type="radio"]:not(:checked)+label {
  color: #d1d1d1;
}

input[type="radio"]:checked+label:before, [type="radio"]:not(:checked)+label:after {
  border-radius: 50%;
  border: 2px solid yellow;
}

input[type="radio"]:checked+label:after {
  border-radius: 50%;
  border: yellow;
  background-color: yellow;
}

#downloadfile {
  margin: auto;
  display: block;
}
